<div class="home-container">
  <div class="banner" style="background-image: url(../../assets/home.jpg);">
    <div class="headers">
        <h1><i class="fas fa-meteor"></i> HiroBnB</h1>
    <div class="link">
        <%= link_to "Search now", flats_path %>
    </div>
    </div>
  </div>
</div>